h1,
h2 {
	text-align: center;
}

#contenedor {
  display: flex;
  justify-content: center;
}

.caja {
	margin: 20px;
	width: 25%;
	height: 300px;
	border: 5px solid pink;
	background-color: lightblue;
}

#bottomCenter {
    background-image: url("./logoCSS.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

#mitadMitad {
    background-image: url("./logoCSS.png");
    background-repeat: no-repeat;
    background-position: center;
}

#bottomRight {
    background-image: url("./logoCSS.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
